:root {
    --Dark-purple: hsl(292, 42%, 14%);
    --White: hsl(0, 0%, 100%);
    --Grayish-purple: hsl(293, 16%, 49%);
    --Light-pink: hsl(275, 100%, 97%);
    --Light-purple: hsl(275, 75%, 57%);
    --font-family: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body { 
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--Light-pink);
    justify-content: center;
    align-items: center;
    color: var(--Dark-purple);
    font-weight: 400;
    font-size: 0.8rem;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    letter-spacing: .01rem;
}

#top {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='320' fill='none' viewBox='0 0 1440 320'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23301534' d='M0 0h1440v320H0z'/%3E%3Cpath stroke='%23AD28EB' stroke-linecap='round' stroke-width='3' d='M-676-182C-454-10-396.863 71.888-197.5 143.5-99 178.882-36.919 170.726-4.751 170.108c104.487-2.01 204.609-43.237 298.633-85.495 38.354-17.238 75.882-36.189 112.063-57.63 23.903-14.165 58.87-33.913 64.721-64.42 2.32-12.102-16.369-12.24-23.771-9.789-13.511 4.474-25.95 16.544-36.056 25.669-19.131 17.273-37.062 35.948-53.235 56.031-33.728 41.883-68.034 100.247-34.158 152.014 17.287 26.415 43.94 45.693 72.112 59.127 56.182 26.791 119.205 38.742 180.778 44.146 164.438 14.432 328.964-3.461 483.004-63.622 79.76-31.148 158.55-70.539 224.23-126.245 48.56-41.186 102.8-96.548 110.66-162.9 10.93-92.187-94.04-136.062-169.29-148.418-61.41-10.084-123.75-4.164-184.07 9.588-78.262 17.84-149.006 47.67-214.241 94.384-130.002 93.093-234.95 228.413-272.466 385.827-15.64 65.625-16.648 138.21 5.493 202.551 21.452 62.338 69.196 110.576 124.048 144.923 65.117 40.774 137.161 62.14 212.839 73.21 100.474 14.696 202.817 12.233 303.027-2.997 176.17-26.772 352.73-88.431 505.18-181.077 103.22-62.725 199.3-134.15 280.06-224.425 17.7-19.793 31.81-40.875 43.74-64.521C2172.11-58.5 2095.5-145.528 2095.5-151'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h1440v320H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
    background-size: cover;
    height: 360px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

p {
    color: var(--Grayish-purple);
    font-size: 1rem;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--Light-pink);
    margin: 1em 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 37rem;
    position: relative;
    z-index: 1;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    padding: 0 0 0 20px;
}

h2 {
    font-size: 1.1rem;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;

}

.accordion-header:hover{
    color: var(--Light-purple);
    cursor: pointer;
}

.accordion-button {
    background-color: var(--White);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' fill='none' viewBox='0 0 30 31'%3E%3Cpath fill='%23AD28EB' d='M15 3.313A12.187 12.187 0 1 0 27.188 15.5 12.203 12.203 0 0 0 15 3.312Zm4.688 13.124h-3.75v3.75a.938.938 0 0 1-1.876 0v-3.75h-3.75a.938.938 0 0 1 0-1.875h3.75v-3.75a.938.938 0 0 1 1.876 0v3.75h3.75a.938.938 0 0 1 0 1.876Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.accordion-button.collapsed {
    background-color: var(--White);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' fill='none' viewBox='0 0 30 31'%3E%3Cpath fill='%23301534' d='M15 3.313A12.187 12.187 0 1 0 27.188 15.5 12.2 12.2 0 0 0 15 3.312Zm4.688 13.124h-9.375a.938.938 0 0 1 0-1.875h9.374a.938.938 0 0 1 0 1.876Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
} 

@media (max-width: 576px) {
    #top {
        background: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='375'%20height='232'%20fill='none'%20viewBox='0%200%20375%20232'%3E%3Cg%20clip-path='url(%23a)'%3E%3Cpath%20fill='%23301534'%20d='M0%200h375v232H0z'/%3E%3Cpath%20stroke='%23AD28EB'%20stroke-linecap='round'%20stroke-width='3'%20d='M-860-119.139C-693.416%209.858-650.541%2071.271-500.943%20124.979c73.912%2026.536%20120.497%2020.42%20144.635%2019.956%2078.405-1.507%20153.535-32.427%20224.088-64.12%2028.78-12.928%2056.94-27.14%2084.09-43.22C-30.193%2026.97-3.955%2012.16.435-10.72c1.741-9.076-12.283-9.18-17.837-7.34C-27.54-14.707-36.874-5.654-44.458%201.19c-14.355%2012.954-27.81%2026.96-39.946%2042.022-25.309%2031.411-51.052%2075.184-25.631%20114.007%2012.97%2019.811%2032.97%2034.27%2054.11%2044.345%2042.159%2020.092%2089.45%2029.055%20135.653%2033.108%20123.391%2010.824%20246.848-2.595%20362.439-47.715%2059.847-23.36%20118.972-52.903%20168.254-94.681%2036.437-30.89%2077.141-72.41%2083.04-122.172%208.196-69.138-70.57-102.044-127.033-111.311-46.084-7.563-92.856-3.123-138.126%207.191-58.723%2013.38-111.808%2035.752-160.759%2070.787C169.992%206.588%2091.241%20108.076%2063.09%20226.133c-11.736%2049.218-12.492%20103.655%204.122%20151.91%2016.097%2046.752%2051.923%2082.929%2093.083%20108.688%2048.862%2030.58%20102.923%2046.605%20159.71%2054.906%2075.394%2011.023%20152.192%209.175%20227.386-2.247%20132.191-20.079%20264.677-66.321%20379.078-135.804%2077.451-47.043%20149.551-100.61%20210.151-168.314%2013.28-14.844%2023.87-30.656%2032.82-48.39%20107.72-213.399%2050.24-278.668%2050.24-282.772'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath%20id='a'%3E%3Cpath%20fill='%23fff'%20d='M0%200h375v232H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
        background-size: cover;
        height: 232px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container{
        max-width: 24rem;
        padding: 20px;
        border-radius: 8px;

    }

    #header {
        margin: 20px 0 30px 0;
    }

    h1 {
        font-size: 2.3rem;
        padding: 0 0 0 30px;
    }

    h2 {
        font-size: 1.4rem;
    }
    
    .accordion-header {
        padding: 0 0 20px;
    }

    p {
        padding: 0 30px 10px 0;
    }

    button.accordion-button {
        max-width: 28px;
    }

}